{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block body_block %}
    <div class="container">
        <h1 id="idAboutHeader">Welcome About</h1>
        <section>
            <p>
                My background is mathematics and computer science. Iam very passionate about mathematics and it's uses
                in enhancing mankind. My current role is backend software developer where I help in the development of
                new API's and in the maintenance of existing ones. I'm part of a team that gathers essential data by
                designing robust data pipelines  in apache Airflow and kafka. I believe that a good Software developer
                should have a very firm grasp on algorithm design basics and for this reason, this area of computer
                science occupies most of my spare time.
            </p>
            <p>
                Out of the work environment, I'm an avid runner and do take part in many fitness activities like
                bike riding, weight lifting and Yoga.I have a passion for puzzles, particularly, chess which and
                mathematics because both are puzzles and very interesting once you get a hold of a particular puzzle.

            </p>
            <p>
                Come and be a part of my journey as I discover the beauty of life in puzzles and fitness.
                Contributions and suggestions are highly encouraged as these grow each of us.
            </p>
        </section>
    </div>
{% endblock body_block %}